@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: GOT-font;
    src: url(GOT-font.ttf);
}

* { 
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #331C0E;
    --font-color: #FCFEF0;
    --width: 600px;
}

body {
    
    max-width: var(--width);
    text-align: center;
    margin: auto;
}

nav {
    padding: 1rem;
    margin: 1 rem;
    font-family: "GOT-font", fallback, sans-serif;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--font-color);
}

main {
    font-family: 'Open Sans', sans-serif;
    margin: 2rem;
    padding: 2rem;
    min-height: 54vh;
}

textarea {
    width: 100%;
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: large;
}

button {
    background-color: var(--primary-color);
    border-style: none;
    float: left;
    padding: 0.5rem;
    margin: 1rem 0rem;
    font-family: inherit;
    font-size: large;
    color: var(--font-color);
}

.Help-Text {
    clear: left;
    float: left;
    padding: 1rem 0rem;
}

#Txt-Output {
    border: 1px solid black;
    clear: left;
    height:20vh;
    width: 100%;
    padding: 0.5rem;
    font-size: large;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
    max-width: var(--width);
    color: var(--font-color);
}

footer div {
    font-size: large;
}
